:root {
    --primary-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: var(--primary-font);
}
/* ==================== COMPONENTS ==================== */
.logo-header {
    font-family: var(--logo-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: #000000;
}
.logo-footer {
    font-family: var(--logo-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.web {
    font-family: var(--logo-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: #2196F3;
}
.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}


/* ==================== /COMPONENTS ==================== */

/* ==================== HEADER ==================== */
.menu-item .link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
}
.menu-item .link:hover,
.menu-item .link:focus {
    color: var(--accent-color);
}

.menu-item .link:active {
    color: var(--accent-color);
}
.page-nav .current {
    color: var(--accent-color);
}

.contact-e-mail, .contact-phone-number {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}
.contact-e-mail:hover,
.contact-e-mail:focus {
    color: var(--accent-color);
}
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color);
}
/* ==================== /HEADER ==================== */

/* ==================== HERO ==================== */
.hero {
    background-color: #2F303A;;
}
.main-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.modal-btn {
    color: #FFFFFF;
    background-color: #2196F3;
    font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
    cursor: pointer;
}
/* ==================== /HERO ==================== */

/* ==================== ADVANTAGES ==================== */
.advantage-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.advantage-description {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}
/* ==================== /ADVANTAGES ==================== */

/* ==================== ABOUT ==================== */

/* ==================== /ABOUT ==================== */

/* ==================== TEAM ==================== */
.team {
    background-color: #F5F4FA;
}
.team-list-item {
    background-color: #FFFFFF;
}
.team-member-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.team-member-position {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}
/* ==================== /TEAM ==================== */

/* ==================== FOOTER ==================== */
.footer {
    background-color: #2F303A;
}
.address-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
         letter-spacing: 0.03em;
         color: #FFFFFF;
}
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.footer-contact-e-mail {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.footer-contact-e-mail:hover,
.footer-contact-e-mail:focus {
    color: var(--accent-color);
}
.footer-contact-phone-number {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact-phone-number:hover,
.footer-contact-phone-number:focus {
    color: var(--accent-color);
}

/* ==================== /FOOTER ==================== */

/* ==================== PORTFOLIO ==================== */
.portfolio-filter-item .portfolio-filter-btn {
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        background-color: #F5F4FA;
}
.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
    color:#FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
}
.project-name {
    font-weight: 700;
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
        color: #212121;
}
.project-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;
}
/* ==================== /PORTFOLIO ==================== */